<%= social_share_button_tag("Shopify", :url => "https://teststore21july2k18.myshopify.com/products/echo-2nd-generation-smart-speaker-with-alexa-charcoal-fabric")%>
<h1>Hello World!</h1>
<%= social_share_button_tag("My Site") %>
<p>Welcome to my site!</p>
<%binding.pry%>
<a href="whatsapp://send?text=http://localhost:3000">Share on WhatsApp</a>
<style>
.social-share-button-facebook {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/social/facebook.png") no-repeat;
}
</style>
