<h2>Categories List (<%= @categories.length %>)</h2>
<ul>
<% @categories.each do |category|%>
	<li><%= link_to category.name, category_path(category.id) %> -- (<%= Article.where("category_id = ?", category.id).count%> articles)</li>
<% end %>
</ul>
<% if (user_signed_in?) && (can? :create, Category.new) %>
	<%= link_to "Add Category", new_category_path %>
<% end %>